<div class="w-full flex justify-center mt-10 mb-2">
  <div >
    <button mat-raised-button color="accent" (click)="this.mMujer = !this.mMujer" class="mt-5 ml-20 mb-5 ">{{mMujer ? 'Ocultar' : 'Mostar Mujer'}}</button>
      <div class="w-1/2 mx-auto">
        <img *ngIf="mMujer == true" src="assets\img\mujer.png" alt="Img de mujer" class="w-full h-90" >
      </div>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="this.mHombre = !this.mHombre" class="mt-5 ml-20 mb-5">{{mHombre ? 'Ocultar' : 'Mostar Hombre'}}</button>
      <div class="w-1/2 mx-auto">
        <img *ngIf="mHombre == true" src="assets\img\hombre1.webp" alt="Img de hombre" class="w-full h-95">
      </div>
  </div>
</div>
<router-outlet></router-outlet>
